.left {
    flex: 30%;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
}

.right {
    flex: 70%;
    margin-left: 50px;
}

.skill {
    display: flex;
    margin-top: 30px;
}

.social-media i {
    margin-right: 20px;
    font-size: 30px;
}

.container {
    display: flex;
    margin: 75px;
}

@media only screen and (max-width: 576px) {
    .container {
        flex-direction: column;
        margin: 20px;
    }

    .left {
        margin: auto;
    }

    .right {
        margin-top: 50px;
        margin-left: 0px
    }

    .skill {
        flex-direction: column;
    }
}