.navbar {
    background-color: #f4f3f3;
    padding: 20px;
}

.navbar-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: black
}

.active {
    color: orangered;
}

.hamburger-active {
    background-color: orangered;
}

.navbar-logo {
    width: 50px;
}

.navbar-contact-btn {
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.hamburger-navbar-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.hamburger-navbar-link {
    display: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
}

#hamburger-button {
    display: none;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 576px) {
    .navbar-link {
        display: none;
    }

    .navbar-contact-btn {
        display: none;
    }

    .hamburger-navbar-link {
        display: block;
    }

    #hamburger-button {
        display: block;
    }
}